.board {
	border: 2px solid;
	border-color: white black black white;
	display: grid;
	/* grid-template-columns: repeat(3, 25px); */
	/* grid-template-rows: repeat(3, 25px); */
}

.button {
	background-color: rgb(48, 48, 250);
	padding: 0.5rem;
	border: 1px solid rgb(48, 48, 250);
	border-radius: 10px;
	display: inline-block;
}

.button p {
	margin: 0;
	color: white;
	font-weight: bold;
}

.announce {
	font-weight: bold;
	color: red;
}