html {
	margin: 0;
	background-color: lightgray;
}

.app {
	border: 2px solid;
	border-color: white black black white;
	background-color: lightgray;
	padding: 6px;
}

.board {
	border: 2px solid;
	border-color: black white white black;
	display: grid;
}

.controlContainer {
	border: 2px solid;
	border-color: white black black white;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px; 
	padding: 1rem;
}

.button {
	border: 2px solid;
	border-color: white black black white;
	padding: 3px;
	margin: 0;
	height: 2rem;
	width: 2rem;
}

.button img {
	width: 100%
}

.announce {
	font-weight: bold;
	color: red;
}

.numberBox {
	font-family: 'vt323', monospace;
	font-size: 2rem;
	color: red;
	background-color: black;
	margin: 0;
	/* display: inline-block; */
	padding: 0.25rem 0.5rem;
	width: 3rem;
}