.cell {
	background-color: lightgray;
	border: solid 2px;
	border-color: white black black white;
	font-weight: bold;
	grid-column-end: span 2;
}

.cleared {
	border-width: 1px;
	border-color: gray;
}

.bomb {
	background-color: red;
}