.panel {
    /* border: 2px solid; */
    /* border-color: white black black white; */
    /* margin-right: 2rem; */
    /* padding: 2rem; */
}

.optItem {
    display: block;
    margin-bottom: 0.5rem;
}

.optItem label {
    margin-right: 0.5rem;
}

.optSubmit {
    font-size: 1rem;
    width: 200px;
    background-color: rgb(106, 66, 253);
    border-color: rgb(106, 66, 253);
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 0.25rem;
    color: aliceblue;
    margin-top: 1.5rem;
}
